<% content_for :heading do %>
  <h2> Lists </h2>
<% end %>
<div data-controller="list">
  <ul>
    <% @lists.each do |list| %>
      <li>
      <%= link_to list.name, list_list_items_path(list) %>
        <a data-list-id=<%= list.id %> href="#" data-action="click->list#deleteList">x</a>
      </li>
    <% end %>
  </ul>
  <input data-target="list.listName">
  <button data-action="click->list#createList">Create List</button>
</div>
