<% content_for :heading do %>
  <h2> Lists </h2>
<% end %>
<div data-controller="list">
  <ul>
    <%= render(ListRecordComponent.with_collection(@lists)) %>
  </ul>
  <input data-target="list.listName">
  <button data-action="click->list#createList">Create List</button>
</div>
