  <div style="display: flex;">
 <div class="py-2 flex-1 pl-2 border-b bg-white flex flex-col">
    <span><%= item.name %></span>
    <span class="text-xs text-gray-400"><%= quantity %></span>
  </div>
    <% if action %> <%= action.content %><% end %>
  </div>
