<li>
  <div class="text-lg bg-background flex">
  <div class="py-2 flex-1 pl-2 shadow rounded-l-md bg-white flex flex-col">
    <span><%= list_item.item.name %></span>
    <span class="text-xs text-gray-400"><%= quantity %></span>
  </div>
    <% if allow_delete %>
      <a
      class="flex bg-red-500 w-10 text-center text-white rounded-r-md active:bg-white active:text-red-500 transition duration-75"
      data-item-list-id=<%= list_item.id %>
      href="#"
      data-reflex="click->ListItemReflex#delete_list_item">
        <span class="block m-auto">x</span>
      </a>
    <% end %>
  </div>
</li>
