<% content_for :heading do %>
  <h2><mark>O</mark>n <mark>T</mark>he <mark>L</mark>ist</h2>
<% end %>


<h3> <%= link_to 'Lists', lists_path %> </h3>
<h4> Recently Updated: </h4>
<%= render(ListRecordComponent.with_collection(@lists)) %>
<hr>

<h3> <%= link_to 'Items', items_path %> </h3>
